<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<br>
<% if current_trainer.id == @trainer.id %>
	<%= button_to "make a new pokemon!", new_pokemon_path, :class => "button medium", :method => :get %>
<% end %>
<div class="row">
	<h3>Pokemons</h3>
		<div class="column">
		  <table class="table">
		    <tbody>
		      <% @trainer.myPokemon.each do |p| %>
		        <tr>
		          Name: <%= p.name %> <br>
		          Level: <%= p.level %> <br>
		          Health: <%= p.health %> <br>
	 	          <%= button_to "Damage!", damage_path(:id => p.id.to_s), :class => "button medium", :method => :patch %> <br><br>
		        </tr>
		      <% end %>
		    </tbody>
		  </table>
		</div>
</div>